@import '../../styles/settings';

$card-padding-x: 1.5rem;
$card-padding-y: 1.5rem;

.card {
  display: block;
  position: relative;
  background-color: white;
  @include box-shadow();
  @include border-radius();

  &__header {
    display: block;
    margin: 0;
    padding: $card-padding-y $card-padding-x 0;
    font-size: 1.25em;
    font-weight: 600;
  }

  &__content {
    display: block;
    margin: 0;
    padding: $card-padding-y $card-padding-x;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 $card-padding-x $card-padding-y;
    font-size: .8em;
  }
}
