@import "../../styles/settings";

.header {
  display: block;
  width: 100%;
  height: 80px;
  z-index: 9999;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;
  padding: 0 $spacer;

  &__logo {
    min-width: 115px;
  }

  &__nav {
    flex: 1;
    padding-left: $spacer;
    text-align: right;
    white-space: nowrap;
  }
}
