// Hocus
@mixin hover {
  &:hover { @content; }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

// Box Shadow
@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
}

// Border Radius
@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

// Transition
@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: $transition-base;
  } @else {
    transition: $transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
