/**
 * CONTENT
 *
 * Settings ................ Global variables and mixins.
 * Generic ................. Normalize, reset etc. Effects all elements.
 * Elements ..................... Bare HTML element styling.
 */

@import "./styles/settings";
@import "./styles/generic";
@import "./styles/elements";

/**
 * Utility Classes
 */

// Margins
.u-m-0 {
  margin: none !important;
}
.u-ml-1 {
  margin-left: $spacer !important;
}
.u-mb-half {
  margin-bottom: $spacer / 2 !important;
}
.u-mb-1 {
  margin-bottom: $spacer !important;
}
.u-mb-2 {
  margin-bottom: $spacer * 2 !important;
}
.u-mr-1 {
  margin-right: $spacer !important;
}

// Paddings
.u-p-0 {
  padding: none !important;
}
.u-pt-1 {
  padding-top: $spacer !important;
}
.u-pl-1 {
  padding-left: $spacer !important;
}
.u-pb-1 {
  padding-bottom: $spacer !important;
}
.u-pr-1 {
  padding-right: $spacer !important;
}
.u-px-1 {
  padding-left: $spacer !important;
  padding-right: $spacer !important;
}
.u-py-1 {
  padding-top: $spacer !important;
  padding-bottom: $spacer !important;
}

.u-mp-0 {
  margin: 0 !important;
  padding: 0 !important;
}

// Text specific
.u-text-center {
  text-align: center !important;
}

.u-text-danger {
  color: red !important;
}
